.hidden-sidebar .Sidebar__TodoListContainer {
  display: none;
}

.hidden-sidebar .todo-list-header {
  display: none;
}

.hidden-sidebar .to-do-list {
  display: none;
}

#tfc-wall-rose {
  position: relative;
}

@media only screen and (min-width: 992px) {
  .tfc-list-view-wrapper #tfc-wall-rose {
    width: 240px;
  }
}

body {
  --tfc-dark-mode-text-primary: #f5f7fb;
  --tfc-dark-mode-text-secondary: #95a0b5;
  --tfc-dark-mode-bg-primary: #0f1626;
  --tfc-dark-mode-bg-primary-2: #151e31;
  --tfc-dark-mode-bg-secondary: #22314d;
  --tfc-sidebar-width: 288px;
}
